@{
    ViewBag.Title = "Zona sin Acceso";
}
<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Acceso Insuficiente.</h3>
            </div>
            <div class="panel-body">
                <p>No se ha podido ingresar al destino seleccionado por falta de acceso. Solicite acceso a su superior.</p>
                <div class="text-center"><a class="btn btn-default" href="javascript:history.back()">Regresar</a></div>

            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
